#customization gearmand, requires mariadb - DGI
.include /usr/lib/systemd/system/gearmand.service
[Unit]
#Uncomment when mysql is on same server as gearmand. 
#After=mariadb.service
